body{
    color:  #434455;
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}



.logo{
    font-family:Raleway, sans-serif ;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    
}
.logo-accent{
    color:#4d5ae5 ;
}
.nav-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover{
    color:#404BBF;
}
.nav-link:active{
    color:#404BBF ;
}
.contakt-address{
    font-family: "Roboto", sans-serif ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contakt-link{
    color: #434455;
}
.contakt-link:hover,
.contakt-link:focus{
    color:#404BBF;
}
.hero-section{
   background-color: #2e2f42;

}
.hero-title{
    font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
text-transform: capitalize;
}
.button{
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    background-color:#4d5ae5;
    cursor: pointer;
    border: none;  
}
.button:hover{
    color: #fff;
    background-color:#404bbf;
}
.button:focus{
    color: #fff;
    background-color:#404bbf;
}
.our-team-section{
    background: #f4f4fd
}
.team-fon{
    background: #fff; 
}




.footer-section{
    background: #2e2f42;
}
.footer-logo{
    color:#f4f4fd ;
}
.footer-logo-accent{
    color: #4d5ae5;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}